{% extends 'base.html' %}

{% block content %}
<h2>Register</h2>
<form method="POST" action="{{ url_for('main.register') }}">
    {{ form.hidden_tag() }}
    
    <!-- Existing registration fields here -->
    <div class="form-group">
        {{ form.firstname.label }} {{ form.firstname(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.lastname.label }} {{ form.lastname(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.matric_number.label }} {{ form.matric_number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.school.label }} {{ form.school(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.department.label }} {{ form.department(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.career_interests.label }} {{ form.career_interests(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>

    <hr>
    <p>Or register using Google:</p>
    <a href="{{ url_for('main.google_login') }}" class="btn btn-danger">Register with Google</a>
</form>
{% endblock %}
